<!--
    Author: Tyler Forga 
    Template with header, navbar, and footer
-->
<!--HTML Boilerplate and title-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Workout Website</title>
    <link rel="stylesheet" href="template.css" >
    <link rel="stylesheet" href="template_responsive.css" >

</head>
<body>
    <!--Header of website: title, imgs, navbar-->
    <header class="website-header">
        <!--title and images-->
        <div class="title-wrapper">
            <img id="left-image"src="/WorkoutTracker/Images/WorkoutWebsiteLogo.png" alt="Forga's Logo" >
            <h1> 
                Forga's Workout and Macro Tracker
            </h1>
            <img id="right-image"src="/WorkoutTracker/Images/WorkoutWebsiteLogo.png" alt="Forga's Logo" >
        </div>
            <!--Navigation-->
        <nav class="navigation-bar">
            <ul>
                <li><a href="/WorkoutTracker/homepage/homepage.html">Homepage</a></li>
                <li><a href="/WorkoutTracker/workouts/workouts.html">Workouts</a></li>
                <li><a href="/WorkoutTracker/tracker/tracker.html">Macro & Workout Tracker</a></li>
                <li><a href="/WorkoutTracker/about/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="page-content">
        <!--Page specific content injected here-->
    </div>



    <!--Footer section with copyright-->
    <footer class="website-footer">
        <a href="/index.html">Back to Bio and Project Webpage</a>
        Created and maintained by Tyler Forga &copy;2023
    </footer>
</body>
</html>